{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header"><h4>{% trans "Reset Kata Sandi" %}</h4></div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p>{% trans "Lupa kata sandi Anda? Masukkan alamat e-mail Anda di bawah, dan kami akan mengirimkan e-mail untuk me-reset kata sandi Anda." %}</p>
                
                <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">{% trans "Reset Kata Sandi Saya" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}