{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Ubah Kata Sandi" %}{% endblock %}

{% block inner_content %}
<div class="card shadow-sm">
    <div class="card-header text-center bg-light">
        {% if token_fail %}
            <h4 class="mb-0 text-danger">{% trans "Token Buruk" %}</h4>
        {% else %}
            <h4 class="mb-0">{% trans "Ubah Kata Sandi" %}</h4>
        {% endif %}
    </div>
    <div class="card-body">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center">
                {% blocktrans %}Tautan reset kata sandi tidak valid, mungkin karena sudah digunakan. Silakan minta <a href="{{ passwd_reset_url }}">reset kata sandi baru</a>.{% endblocktrans %}
            </p>
        {% else %}
            {% if form %}
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">{% trans "Ubah Kata Sandi" %}</button>
                    </div>
                </form>
            {% else %}
                <p class="text-center">{% trans "Kata sandi Anda sudah diubah." %}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}