{% load socialaccount %}
<ul class="socialaccount_providers list-unstyled">
    {% for provider in socialaccount.providers %}
    <li>
        <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
           class="btn {% if provider.id == 'google' %}btn-google{% elif provider.id == 'facebook' %}btn-facebook{% else %}btn-outline-secondary{% endif %} w-100 mb-2">
            <i class="fab fa-{{ provider.id }} me-1"></i> {{ provider.name }}
        </a>
    </li>
    {% endfor %}
</ul>